.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color-main);
}

.form {
  padding: 60px;
  width: 488px;
  border-radius: 20px;
  background-color: var(--bg-color-form);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.04em;
  color: var(--text-color-black);
  align-self: center;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.container__text {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.input {
  margin-top: 25px;
}

.text {
  margin: 0;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.link {
  display: inline-block;
  margin-left: 5px;
  text-decoration: underline;
  color: var(--bg-color-button-normal);
}

.link:hover {
  color: var(--bg-color-button-hover);
}

.link:active {
  color: var(--bg-color-button-pressed);
}

.button {
  width: 100%;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 32px 0 12px;
  padding: 16px 0;
}

.button__main {
  color: var(--text-color-white);
  background-color: var(--bg-color-button-normal);
}

.button__main_noValid {
  cursor: auto;
  color: var(--text-color-additional);
  background-color: var(--bg-color-button-disabled);
}

.button__main_noValid:hover {
  background-color: var(--bg-color-button-disabled);
}

.button__main:hover {
  background-color: var(--bg-color-button-hover);
}

.button__main:active {
  background-color: var(--bg-color-button-normal);
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url(../../images/google-icon.svg);
  background-position: center;
}

.button__google {
  margin-top: 12px;
  padding: 15px 0;
  border: 1px solid var(--border-color-g-button);
  background-color: var(--bg-color-g-button-normal);
  color: var(--text-color-black);
}

.button__google:hover {
  background-color: var(--bg-color-g-button-hover);
}

.button__google:active {
  background-color: var(--bg-color-g-button-normal);
}
