.container {
  max-width: 1440px;
  width: 100%;
  padding: 120px 0px 94px;

  display: flex;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
}
.wrapper {
  max-width: 724px;
  padding-bottom: 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url(../../images/чиркаш.svg);
  background-repeat: no-repeat;
 background-position: 84% 0px;
}
.title {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  padding-bottom: 28px;
}
.subtitle {
  composes: title;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 28px;
}
.man_image {
  position: absolute;
  top: -28px;
  left: -230px;
  width: 300px;
  height: 435px;
  background: url(../../images/illustration_man.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.woman_image {
  position: absolute;
  width: 350px;
  height: 455px;
  right: -206px;
  bottom: -48px;
  background: url(../../images/illustration\ woman.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.button {
  text-align: center;
  box-sizing: border-box;
  max-width: 345px;
  width: 100%;
  min-width: 54px;
  padding: 16px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  border-radius: 10px;
  color: var(--text-color-white);
  background-color: var(--bg-color-button-normal);
  cursor: pointer;
}
