.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 300px;
  border-radius: 10px;
  padding: 15px 0;
  color: var(--text-color-black);
  background-color: var(--bg-color-g-button-normal);
  border: 1px solid var(--border-color-g-button);
}
.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-image: url('../../../../images/google-icon.svg');
  background-position: center;
}

.button:hover {
  background-color: var(--bg-color-g-button-hover);
}
@media screen and (max-width: 488px) {
  .button {
       padding: 7px 0;
  }
}
.button:active {
  background-color: var(--bg-color-g-button-normal);
}
