.form {
  box-sizing: border-box;
  border-bottom: 1px solid var(--border-input-color);
}

.fieldset {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
}

.fieldset_type_primary {
  padding-bottom: 20px;
}

.fieldset_type_secondary {
  padding-bottom: 10px;
}

.link {
  color: var(--link-color-grey);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.link_active {
  color: var(--text-color-black);
}

.input {
  margin: 0;
  padding: 0;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border: none;
  outline: none;
  cursor: text;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
