.input {
  box-sizing: border-box;
  width: 368px;
  height: 46px;
  margin: 0;
  padding: 0 12px;
  color: var(--text-color-grey);
  font-size: 18px;
  line-height: 22px;
  border: 1px solid var(--color-input-normal);
  border-radius: 6px;
  cursor: text;
}

@media screen and (max-width: 488px) {
  .input {
    height: 40px;
  }

  .input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
}

.input_validation_success {
  composes: input;
  border: 1px solid var(--color-input-true);
}

.input_validation_false {
  composes: input;
  border: 1px solid var(--color-input-false);
}
