.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 29px;
  margin: 0;
  padding: 0;
  border: none;
}

.label {
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.label_color_grey {
  color: var(--text-color-light-grey);
}

.textarea {
  max-width: 540px;
  height: 540px;
  margin: 0;
  padding: 10px;
  border: 1px solid var(--border-textarea-color);
  border-radius: 10px;
  resize: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 348px;
  min-width: 200px;
  padding: 16px 0;
  border-radius: 10px;
}

.button__main {
  color: var(--text-color-white);
  background-color: var(--bg-color-button-normal);
}

.button__main_noValid {
  color: var(--text-color-additional);
  background-color: var(--bg-color-button-disabled);
  cursor: auto;
}

.button__main_noValid:hover {
  background-color: var(--bg-color-button-disabled);
}

.button__main:hover {
  background-color: var(--bg-color-button-hover);
}

.button__main:active {
  background-color: var(--bg-color-button-normal);
}
