.container {
  max-width: 350px;
  width: 100%;
  height: 350px;
  background-color: #e2e2f6;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  justify-self: center;
}
.empty_container {
  background: url(../../../../images/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 93px;
  height: 93px;
  align-self: center;
}
.status {
  box-sizing: border-box;
  background: var(--text-color-white);
  border-radius: 60px;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: var(--bg-color-button-normal);
  align-self: flex-start;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  margin: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  padding-bottom: 8px;
  padding-top: 35px;
}

.subtitle {
  margin: 0;
  flex-grow: 1;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.progress{
  width: 100%;
  height: 12px;
  border: 0;
}
.progress::-webkit-progress-bar {
  width: 100%;
  background: var(--text-color-white);
  border-radius: 8px;
  height: 12px;
  position: relative;
}
.progress::-webkit-progress-value {
  background: var(--bg-color-button-pressed);
  border-radius: 80px;
}

.bar_description {
  padding-top: 4px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--bg-color-button-pressed);
}
