.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color-main);
}
@media screen and (max-width: 488px) {
  .container {
    background-color: var(--bg-color-form);
  }
}