.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  padding: 40px 165px 40px 164px;
}

.selectors_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  padding-bottom: 40px;
}

@media screen and (max-width: 1350px) {
  .selectors_wrapper {
    flex-direction: column;
    row-gap: 30px;
  }
}

.btns_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 812px;
}

.button {
  box-sizing: border-box;
  padding: 10px 16px;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: transparent;
  border: 1px solid #171717;
  border-radius: 60px;
}

.cards_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 30px;
  align-items: start;
}
