.container {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 800px;
  padding: 76px 60px 60px;
  background-color: white;
  border-radius: 20px;
  outline: 1px solid green;
  animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.mini_container{
  composes: container;
  padding: 40px 50px;
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}

.closeBtn {
  position: absolute;
  top: 28px;
  right: 30px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  appearance: none;
  appearance: none;
}
