.container {
  display: flex;
  flex-direction: column;
  justify-self: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 255px;
  height: 132px;
  padding: 20px 30px 30px;
  background-color: #e2e2f6;
  border-radius: 30px;
}

.status {
  align-self: flex-start;
  box-sizing: border-box;
  padding: 4px 8px;
  color: var(--bg-color-button-normal);
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  background: var(--text-color-white);
  border-radius: 60px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.title {
  margin: 0;
  padding-top: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

