.button {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 17px;
    line-height: 21px;
  }
}