.form {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid var(--border-input-color);
}

.input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  cursor: text;
  color: var(--text-color-black);
}

.input_type_primary {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.input_type_secondary {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
