.agreement {
  margin-top: 24px;
  display: flex;
  gap: 11px;
}

.agreement__text {
  margin: 0;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  color: var(--text-color-grey);
}

.agreement__link {
  margin: 0 4px;
  display: inline-block;
  color: var(--text-color-grey);
}

.agreement__text a:last-child {
  margin: 0;
}
