.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.container__password {
  display: flex;
  justify-content: space-between;
 
}

.link {
  display: inline-block;
  margin-left: 5px;
  color: var(--bg-color-button-normal);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

@media screen and (max-width: 488px) {
  .link {
    font-size: 14px;
    line-height: 17px;
  }
}

.link:hover {
  color: var(--bg-color-button-hover);
}

.link:active {
  color: var(--bg-color-button-pressed);
}