.header {
  background-color: var(--bg-color-form);
  padding: 40px 165px 40px 164px;
  outline: 1px solid red;
  display: flex;
  justify-content: center;
}
.container {
  outline: 1px solid green;
  max-width: 1440px;
  padding-right: 3px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
}

.button {
  outline: 1px solid blue;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.nav_wrapper {
  display: flex;
  gap: 60px;
}
.login_wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}
.logo_wrapper {
  outline: 1px solid green;
  max-width: 434px;
  width: 100%;
}
