.header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 64px 55px 36px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

.nav__main {
  display: flex;
  flex-grow: 1;
  gap: 25px;
}

.nav__profile {
  display: flex;
  gap: 15px;
}

.link {
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  color: var(--text-color-black);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.link_position_profile {
  composes: link;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  color: var(--text-color-light-grey);
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.link_active {
  color: var(--link-color-active);
}
