.button {
  box-sizing: border-box;
  padding: 10px 16px;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: transparent;
  border: 1px solid #171717;
  border-radius: 60px;
}
.button:hover {
  border: 1px solid var(--bg-color-button-normal);
  scale: 1.05;
}
.activeButton {
  composes: button;
  color: var(--bg-color-button-normal);
  border: 1px solid var(--bg-color-button-normal);
}
