.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color-main);
}
.content {
  position: fixed;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 488px;
  padding: 60px;
  background-color: var(--bg-color-form);
  border-radius: 20px;
  transform: translate(-50%, -50%);
}
.form {
  gap: 25px;
}
.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.title {
  margin: 0;
  padding-bottom: 40px;
  color: var(--text-color-black);
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: uppercase;
}
.link {
  display: inline-block;
  margin-left: 5px;
  color: var(--bg-color-button-normal);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}
.text {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.or {
  margin: 0;
  padding: 12px 0;
}
@media screen and (max-width: 768px) {
  .content {
    padding: 66px;
  }
  .title {
    font-size: 28px;
    line-height: 34px;
  }
}
@media screen and (max-width: 488px) {
  .container {
    background-color: var(--bg-color-form);
  }
  .content {
    padding: 80px;
  }
  .form {
    gap: 15px;
  }
  .title {
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 24px;
  }
  .link {
    font-size: 16px;
    line-height: 20px;
  }
  .text {
    margin: 30px 0 0;
    font-size: 16px;
    line-height: 20px;
  }
  .or {
    padding: 10px 0;
  }
}
.link:hover {
  color: var(--bg-color-button-hover);
}

.link:active {
  color: var(--bg-color-button-pressed);
}
