.real {
  display: none;
}

.custom {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid var(--bg-color-main);
  border-radius: 2px;
  position: relative;
  cursor: pointer;
}

.custom::before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 8px;
  background-image: url(../../images/checkbox.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in-out;  
}

.real:checked + .custom::before {
  transform: translate(-50%, -50%) scale(1);
}
