.wrapper {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.cardWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 30px 0 0;
  list-style: none;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 25px 0;
  color: var(--text-color-white);
  font-size: 50px;
  line-height: 50px;
  background-color: var(--bg-color-button-normal);
  border-radius: 25px;
}

.addBtn:hover{
  scale: 1.02
}
