.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 55px;
}

.wrapper {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
}

.link {
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.link:nth-last-child(3) {
  text-align: end;
}

.author {
  composes: link;
  margin: 0;
  text-align: end;
}
