.profile {
  display: grid;
  grid-template-areas:
    'name name name name name name name name name name name name'
    'info info info info info . about about about about about about';
  grid-template-columns: repeat(12, 1fr);
  max-width: 1110px;
  margin: 0 auto;
  row-gap: 60px;
  column-gap: 1rem;
}

.profile__name {
  grid-area: name;
}

.profile__info {
  display: flex;
  flex-direction: column;
  grid-area: info;
}

.profile__about {
  grid-area: about;
}
