.profile {
  display: grid;
  grid-template-areas:
    'name name name name name name name name name name name name'
    'info info info info info . about about about about about about';
  grid-template-columns: repeat(12, 1fr);
  max-width: 1110px;
  margin: 0 auto;
  row-gap: 60px;
  column-gap: 30px;
}

.profile__name {
  grid-area: name;
}

.profile__info {
  display: flex;
  flex-direction: column;
  grid-area: info;
  gap: 50px;
}

.profile__about {
  grid-area: about;
}

.label {
  margin: 0 0 30px;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
}
