.pageInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  border: none;
}

.input {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-color-black);
  border: none;
  outline: none;
  cursor: text;
}

.input:disabled {
  background-color: var(--bg-color-form);
  cursor: auto;
}

.input_size_large {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.input_size_medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
