.pageInput {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: none;
}

.pageInput_size_large {
  gap: 20px;
}

/* .pageInput_size_medium {
  gap: 15px;
} */

.pageInput_size_small {
  gap: 10px;
}

.pageInput__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  margin: 0;
  padding: 0;
  color: var(--text-color-black);
  border: none;
  outline: none;
  cursor: text;
}

.input:disabled {
  background-color: var(--bg-color-form);
  cursor: auto;
}

.input_size_large {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

.input_size_small {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.error{
  margin-top: -12px
}