.container__password {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.input {
  margin-top: 8px;
  margin-bottom: 4px;
}

.link {
  margin-left: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  color: var(--bg-color-button-normal);
}

.link:hover {
  color: var(--bg-color-button-hover);
}

.link:active {
  color: var(--bg-color-button-pressed);
}
