.label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 488px) {
  .label {
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 17px;
  }
}

.tag {
  color: var(--text-color-red);
}
