.button{
  width: 65px;
    height: 38px;
       position: relative;
    border: none;
    background: linear-gradient(
      to bottom,
      var(--bg-color-button-normal) 20%,
      transparent 21%,
      transparent 40%,
      var(--bg-color-button-normal) 41%,
      var(--bg-color-button-normal) 60%,
      transparent 61%,
      transparent 80%,
      var(--bg-color-button-normal) 81%
    );
    cursor: pointer;
}