.react-select-container {
  color: var(--text-color-black) !important;
}

.react-select__control {
  box-sizing: border-box !important;
  width: 240px !important;
  height: 46px !important;
  color: var(--text-color-black) !important;
  border: 1px solid var(--text-color-black) !important;
  border-radius: 10px !important;
}

.react-select__control:hover {
  border-color: var(--bg-color-button-normal) !important;
}

.react-select__control--is-focused {
  border-color: var(--bg-color-button-normal) !important;
  box-shadow: none !important;
}

.react-select__value-container {
  margin: 0 !important;
  padding-right: 0 !important;
}

.react-select__indicators {
  cursor: pointer;
}

.react-select__placeholder {
  margin: 0 !important;
  color: var(--text-color-black) !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 22px !important;
}

.react-select__dropdown-indicator {
  padding-left: 4px !important;
  color: var(--text-color-black) !important;
}

.react-select__indicator-separator {
  width: 0 !important;
}

.react-select__menu {
  margin: 10px 0 0 !important;
  border-radius: 10px !important;
}

.react-select__menu-list {
  padding: 0 !important;
}

.react-select__option {
  border-radius: 10px !important;
}

.react-select__option:hover {
  background-color: rgb(36% 37% 94% / 30%) !important;
  cursor: pointer;
}

.react-select__option--is-focused {
  background-color: rgb(36% 37% 94% / 30%) !important;
}

.react-select__option--is-selected {
  color: var(--text-color-black) !important;
  background-color: var(--bg-color-button-pressed) !important;
}

.react-select__input-container {
  color: var(--text-color-black) !important;
}
