.textarea {
  box-sizing: border-box;
  width: 100%;  
  margin: 0;
  padding: 10px;
  color: var(--text-color-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid var(--border-input-color);
  border-radius: 10px;
  resize: none;
}
.validation_success {
  border: 1px solid var(--color-input-true);
}

.validation_false {
  border: 1px solid var(--color-input-false);
}